# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Pump_Rage-Mobile.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\manta\OneDrive\Documents\Pump_Rage-Mobile\Pump_Rage-Mobile\.idea\.idea.Pump_Rage-Mobile\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
